.v-application 
    .live-view
        .body-1
            font-size: 12px !important
            line-height: 1.2rem
    
        p
            margin-bottom: 0

        .v-data-table 
            td
                height: 27px
            
            th
                height: 36px
        
        .theme--light.v-data-table 
            thead tr th
                color: rgba(0, 0, 0, 0.87)


.v-data-table
    &__progress
        > th
            position: relative

        .v-progress-linear
            position: absolute
            top: -1.5px
    
    &&__detail
        td
            height: 36px
    
    thead
        th.datetime-field
            width: 169px
        
        th.event-field
            width: 145px

        th.date-field
            width: 128px
        
        th.gender-field
            width: 128px

        th.mime-field
            width: 136px
        
        th.common-field
            width: 169px

        th.percent-field
            width: 128px

        th.police-field
            width: 128px
        
        th.count-field
            width: 128px

        th.number-field
            width: 128px
        
        th.money-field
            width: 168px
        
        th.short-field
            width: 80px

        th.icon-field
            width: 32px

        th.medium-field
            width: 99px
        
        th.status-field
            width: 120px
        
        th.pegawai-field
            width: 180px
        
        th.long-field
            width: 270px
        
        th.npsn-field
            width: 99px